 .container {
     position: relative;
     text-align: center;
     color: white;
}

.image {
     width: 375px;
     height: 267px;
     margin: 0 auto;
}

.bottom-left {
     font-size: 22px;
     color: #FFFFFF;
     bottom: 40px;
     position: absolute;
     margin-left: 10px;
}

.stars{
     position: absolute;
     width:80px;
     height: 11px;
     bottom: 20px;
     margin-left: 10px;
     z-index: 1;
}

.starCount{
     position: absolute;
     font-size: 13px;
     margin-left: 90px;
     margin-top: -2px;
     z-index: 1;
     color: #FFFFFF;
}

.arrow{
     position: absolute;
     color: #FFFFFF;
     z-index: 1;
     width: 30px;
     height: 24px;
     margin-left: 5px;
     background-repeat: no-repeat;
}

.heart{
     position: absolute;
     color: #FFFFFF;
     z-index: 1;
     top: 12px;
     margin-left: 330px;
     color: #FFFFFF;
     width: 30px;
     height: 24px;
     margin-right: 10px;
}

.container2{
     display: flex;
     justify-content: space-around;
}

.container2 p, .container p{
     font-size: 15px;
     text-align: center;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
}

.info{
     border-bottom: 2px solid #B69F58;
     width: 50%;
}

.schema{
     width: 50%;
}
